# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Go workspace
/bin/
/pkg/

# IDE specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
.env
*.log
crawled_data/
output/
output_blog/

# Dependencies
/vendor/

# Binary files
naverCafeCrawler 

